<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>教师批改试卷</title>
    <script src="/static/javascript/axios.min.js" type="text/javascript"></script>
    <script src="/static/javascript/vue.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <style>
        p {
            font-size: 1.2rem;
            color: red;
            font-weight: bold;
            border: red 1px solid;
        }

        img {
            -webkit-user-drag: none;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <div id="img_box" v-for="(item,index) in images">
        <p>考生姓名: {{item.paper_name}}   考试科目: {{item.paper_subject}}
            <img id="paper_display" v-bind:src="['data:image/png;base64,'+item.paper_resource]">
        </p>
    </div>

    1:考试科目：<br/>
    <input type="text" class="custom-radio" id="paper_subject"/> <br/>

    2: 输入姓名：  <br/>
    <input id="paper_name" type="text"/><br/>

    3.获取试卷：<br/>
    <input type="button" value="获取" v-on:click="acquire()"/>
</div>
</body>
<script type="text/javascript">
    var vue = new Vue({
        el: '#app',
        data: {
            images: []
        },
        methods: {
            acquire: function () {
                var param = new URLSearchParams();
                var paper_subject = document.getElementById("paper_subject").value;
                param.append("subject",paper_subject);
                var imags = this.images;
                axios({
                    method: 'POST',
                    url: '/teacher_check_paper',
                    data: param
                }).then(function (value) {
                    for (var i = 0; i < value.data.length; i++) {
                        console.log(value.data[i].paper_resource);
                        imags.push(value.data[i]);
                    }
                    // document.getElementById("paper_display").setAttribute("src","data:image/png;base64,"+value.data[2].paper_resource);
                }).catch(function (reason) {
                    console.log(reason);
                })
            }
        }
    })
</script>
</html>